.links + a:hover,
.links + a ~ a:hover {
    text-decoration: none;
    color: #387ED1;
}

.links + a,
.links + a ~ a{
    text-decoration: none;
    color: gray;
    display: block;
    margin-bottom: -10px;
}

svg{
    width: 1.75rem;
    margin-right: 0.825rem;
    fill: rgb(90, 90, 90);
}

hr{
    border-bottom: 0.25px solid rgb(218, 218, 218);
}

.end-links a{
    margin-left: 1.5rem;
    font-size: 0.825rem;
    color: gray;
}

.end-links{
    text-align: center;
    margin-bottom: -1.5rem;
}